//<ШРИФТЫ>===============================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700);

$fontFamily: "Rubik";
//</ШРИФТЫ>==============================================================================================================================================================

//<ПЕРЕМЕННЫЕ>===============================================================================================================================================================
$minHover: 768px; // если хочешь убрать hover на телефонах, укажи - 768px

:root {
  --main: #333333;
  --outline: #EEEEEE;
  --second: #757575;
  --accent: #009E74;

}

$main: var(--main);
$outline: var(--outline);
$second: var(--second);
$accent: var(--accent);

//</ПЕРЕМЕННЫЕ>==============================================================================================================================================================
$transition: .2s;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================================
@import '_reset';

* {
  font-family: $fontFamily, sans-serif;
}

html {
  scroll-behavior: smooth; // делает плавные переходы по якорям
}

body {
  color: $main;
  font-size: 16px;
  font-weight: 400;

  &._lock {
    overflow: hidden;
  }
}

a {
  color: $main;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================================================================

//<ОБОЛОЧКА>===============================================================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  position: relative;
}
//</ОБОЛОЧКА>==============================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===============================================================================================================================================================
$maxWidthContainer: 1236;

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
}

//<ОБЩИЕ СТИЛИ>==================================================================================
section {
  padding: 50px 0;
}

.btn {
  width: fit-content;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: $main;
  padding: 6px 12px;
  border: 1px solid $main;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  transition: $transition;

  // @media screen and (max-width: 1120px) {
  //   font-size: 14px;
  //   padding: 16px 32px;
  // }

  @media screen and (min-width: $minHover) {
    &:hover {
      background: $accent;
      color: #fff;
      border: 1px solid $accent;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      transform: translate(0,-3px);
    }
  }
}

.btn-outline {
  font-size: 16px;
  font-weight: 700;
  color: $main; 
  padding: 20px 42px;
  border: 2px solid $accent;
  border-radius: 60px;
  transition: $transition;

  @media screen and (min-width: $minHover) {
    &:hover {
      transform: translate(0,-4px);
    }
  }

  &:active {
    background: linear-gradient(96.71deg, #FFCC70 1.86%, #FFA142 118.91%);
  }
} 

.arrow-up {
  display: inline-block;
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: rgba(255,255,255,.3);
  border: 1px solid rgb(15, 124, 255);
  border-radius: 4px;
  transform: scale(.9);
  visibility: hidden;
  opacity: 0;
  transition: $transition;
  z-index: 100;
  &._show {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: $minHover) {
    &:hover {
      transform: translate(0,-4px);
    }
  }

  &:active {
    background: rgba(15, 124, 255,.2);
  }
}

// @import 'blocks/_header';
@import 'blocks/_header-new';
@import 'blocks/_articles';